@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        overflow-x: hidden;
    }
    
    body {
        @apply bg-[#f9f9f7] font-sans text-primary;
        min-height: 100vh;
        overflow-x: hidden;
      }
      
      img {
        max-width: 100%;
        height: auto;
        display: block;
      } 
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none;
}